In [2]:
# Import necessary packages
import pandas as pd
!pip install fbprophet
from fbprophet import Prophet

Collecting fbprophet
  Downloading fbprophet-0.7.1.tar.gz (64 kB)
     ---------------------------------------- 64.0/64.0 kB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting Cython>=0.22
  Downloading Cython-3.0.10-cp310-cp310-win_amd64.whl (2.8 MB)
     ---------------------------------------- 2.8/2.8 MB 19.6 MB/s eta 0:00:00
Collecting cmdstanpy==0.9.5
  Downloading cmdstanpy-0.9.5-py3-none-any.whl (37 kB)
Collecting pystan>=2.14
  Downloading pystan-3.9.1-py3-none-any.whl (13 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\bidem\anaconda3\lib\site-packages (from fbprophet) (1.23.5)
Requirement already satisfied: pandas>=1.0.4 in c:\users\bidem\anaconda3\lib\site-packages (from fbprophet) (2.2.2)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\bidem\anaconda3\lib\site-packages (from fbprophet) (3.7.0)
Collecting LunarCalendar>=0.0.9
  Downloading LunarCalendar-0.0.9-py2.py3-none-any.whl (18 kB)
Collecting convertdate>=2.1.2
  Downloading convertdate-2.4.0-py3-none-any.whl (47 kB)
     ---------------------------------------- 47.9/47.9 kB 2.5 MB/s eta 0:00:00
Collecting holidays>=0.10.2
  Downloading holidays-0.51-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 21.9 MB/s eta 0:00:00
Collecting setuptools-git>=1.2
  Downloading setuptools_git-1.2-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.8.0 in c:\users\bidem\anaconda3\lib\site-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\bidem\anaconda3\lib\site-packages (from fbprophet) (4.64.1)
Collecting pymeeus<=1,>=0.3.13
  Downloading PyMeeus-0.5.12.tar.gz (5.8 MB)
     ---------------------------------------- 5.8/5.8 MB 21.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting ephem>=3.7.5.3
  Downloading ephem-4.1.5-cp310-cp310-win_amd64.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 29.9 MB/s eta 0:00:00
Requirement already satisfied: pytz in c:\users\bidem\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->fbprophet) (2022.7)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (22.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.0.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bidem\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (4.25.0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bidem\anaconda3\lib\site-packages (from pandas>=1.0.4->fbprophet) (2024.1)
Collecting clikit<0.7,>=0.6
  Downloading clikit-0.6.2-py2.py3-none-any.whl (91 kB)
     ---------------------------------------- 91.8/91.8 kB 5.1 MB/s eta 0:00:00
Collecting pystan>=2.14
  Downloading pystan-3.9.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.8.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.7.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.6.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.5.0-py3-none-any.whl (13 kB)
Collecting aiohttp<4.0,>=3.6
  Downloading aiohttp-3.9.5-cp310-cp310-win_amd64.whl (370 kB)
     ------------------------------------- 370.7/370.7 kB 24.0 MB/s eta 0:00:00
Requirement already satisfied: setuptools in c:\users\bidem\anaconda3\lib\site-packages (from pystan>=2.14->fbprophet) (65.6.3)
Collecting pysimdjson<4.0,>=3.2
  Downloading pysimdjson-3.2.0.tar.gz (411 kB)
     -------------------------------------- 411.7/411.7 kB 8.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pystan>=2.14
  Downloading pystan-3.4.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.3.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.2.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.1.1-py3-none-any.whl (13 kB)
  Downloading pystan-3.1.0-py3-none-any.whl (13 kB)
  Downloading pystan-3.0.2-py3-none-any.whl (13 kB)
  Downloading pystan-3.0.1-py3-none-any.whl (12 kB)
  Downloading pystan-3.0.0-py3-none-any.whl (12 kB)
  Downloading pystan-2.19.1.1.tar.gz (16.2 MB)
     --------------------------------------- 16.2/16.2 MB 24.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [6 lines of output]
  Traceback (most recent call last):
    File "<string>", line 2, in <module>
    File "<pip-setuptools-caller>", line 34, in <module>
    File "C:\Users\bidem\AppData\Local\Temp\pip-install-_j8_hksc\pystan_26c4e38964ed48b389646c37aecb1a03\setup.py", line 122, in <module>
      from Cython.Build.Inline import _get_build_extension
  ModuleNotFoundError: No module named 'Cython'
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

ModuleNotFoundError: No module named 'fbprophet'

In [6]:
# Load dataset
df = pd.read_csv("C:\HAMOYE\Time series\household_power_consumption.txt",sep=';')

C:\Users\bidem\AppData\Local\Temp\ipykernel_7600\3177570129.py:2: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\HAMOYE\Time series\household_power_consumption.txt",sep=';')

In [7]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [10]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [18]:
df.isnull().values.any()

True

In [28]:
df1 = df.copy()

In [29]:
#df1['DateTime'] = pd.to_datetime(df1['Date'] + ' ' + df1['Time'])

#df1 = df1.set_index('DateTime')

df1['DateTime'] = pd.to_datetime(df1['Date'] + ' ' + df1['Time'], dayfirst=True)
df1 = df1.set_index('DateTime')

In [32]:
df1.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,,,
2006-12-16 17:24:00,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [33]:
df1

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
DateTime,,,,,,,,,
2006-12-16 17:24:00,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
2006-12-16 17:25:00,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2006-12-16 17:26:00,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
2006-12-16 17:27:00,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
2006-12-16 17:28:00,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2010-11-26 20:58:00,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2010-11-26 20:59:00,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2010-11-26 21:00:00,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2010-11-26 21:01:00,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2010-11-26 21:02:00,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [36]:
df1.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [40]:
#df1['DateTime'] = pd.to_datetime(df1['Date'] + '' + df1["Time"])
df1['DateTime'] = pd.to_datetime(df1['Date'] + ' ' + df1['Time'], format='%d/%m/%Y %H:%M:%S')
df1.set_index("DateTime", inplace=True)
#df1 = df1.resample('D').sum().reset_index()
resampled_df = df1.resample('D')['Global_active_power'].sum().reset_index()

#df1['Global_active_power'] = df1.resample('D')['Global_active_power'].sum().reset_index()

TypeError: can only concatenate str (not "float") to str